body {
    //background: $grey-400;
    background: $white;
}




.dev {
    color: $white;
    text-align: center;
	background: $grey-700;
}


.dev2 {
	background: $dev2;
}


img {
    max-width: auto;
    width: 100%;
    display: block;
}