@media (max-width: 797px) {

    #container {
    }

    section {
        padding: 10px;
        flex-wrap: wrap;

        & .column {
            padding: 0;
            flex: 0 0 100%;
            margin: 5px 0;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &.mobile-half {
                margin: 0 5px;
                flex: 0 0 50%;
            }
        }


    }

} 


