p {
    font-size: 14px;
    line-height: 1.5em;
}

.test {
    background: $dev;
}

h1,
h2,
h3,
h4 {
    padding: 5px 0;
    margin: 0;
}

.disclaimer {
    font-size: 8px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


@each $manufacturer, $color in $manufacturers {
    & p.#{$manufacturer} {
        @include colors($color);
    }

    & h1.#{$manufacturer} {
        @include colors($color);
    }


}