
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    margin-left: -$gutter;

    &.reverse {
        flex-direction: row-reverse;
    }

    /*flex: 0 1 auto;
    flex-wrap: wrap;*/

	&.start {
		justify-content: flex-start;
	}

    &.center {
		justify-content: center;
	}

    &.end {
		justify-content: flex-end;
	}

    &.even {
		justify-content: space-evenly;
    }
    
    &.collapse {
        margin: 0;
    }

}


.column {
    flex: 1;
    margin-left: $gutter;


    &.half {
        flex: 0 0 calc(50% - #{$gutter});
    }

    &.thirds {
        flex: 0 0 calc(33.3333% - #{$gutter}); 
    }

    &.fourth {
        flex: 0 0 25%;
    }

    &.collapse {
        margin: 0;
    }

}

@media (max-width: 600px) {
    .column {
        flex: 0 0 100%;
    }

    .half > .column {
        flex: 0 0 100%;
    }

    .thirds > .column {
        flex: 0 0 100%;
    }
}

@media (min-width: 48em) {
    .column {
    }


    .half > .column {
        flex: 0 0 50%;
    }


    .thirds > .column {
        flex: 0 0 30%;
    }


}




/*.column {
    flex-basis: 100%;
    margin-left: 10px;
    margin-right: 10px;
    
    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &:nth-of-type(even) {
        margin-left: 0;
        margin-right: 0;
    }
}


.grow--3-4 {
    flex-basis: 75%;
}



.collapse {
    margin-left: 0;
    margin-right: 0;
}







@media screen and (min-width: 800px) {
  .column {
    flex: 1;
    }


    .grow--3-4 {
        flex-basis: 75%;
    }

    .grow--1-4 {
        flex-basis: 25%;
    }

} */