@import 'variables';

body {
    position: relative;
}




.nav {
    position: fixed;
    left: 40px;
    top: 10px;
    background: $white;
    width: 200px;

    & ul {
        padding: 0 0 0 20px;
        list-style: none;
        & li {
            padding: 5px 0;
        }
    }
}