.btn {
	color: #FFFFFF;
	transition: none;
	text-decoration: none;
	display: block;
	text-align: center;
    padding: 15px 0;
	letter-spacing: 1px;
    flex: 1;
    font-family: Helvetica;
    font-weight: bold;

    @each $manufacturer, $color in $manufacturers {
        @if $manufacturer == white {
            &.is-#{$manufacturer} {
                @include buttons($color);
                color: $black;
            }
        } @else {
            &.is-#{$manufacturer} {
                @include buttons($color);
            }

        }

    }
}


@each $manufacturer, $color in $manufacturers {
    .column {
        &.is-#{$manufacturer} {
            @include background($color);
        }
    }
    
    
    /*.column {
        & .inner {
            display: block;
            &.is-#{$manufacturer} {
                @include background($color);
            }
        }
    }*/
}


