$gap: 15px;

 & *,
 ::before,
 ::after {
     box-sizing: inherit;
 }


/********************************
*
*   Row and column styles
*
********************************/


section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 10px 0;
    
    &.align-items-top {
        align-items: flex-start;
    }

    &.align-items-center {
        align-items: center;
    }

    &.align-items-bottom {
        align-items: flex-end;
    }
    &.align-items-stretch {
        align-items: stretch;
    }

    &.has-content-left {
      justify-content: flex-start;
    }

    &.has-content-stretch {
        align-content:stretch;
    }

    &.has-content-centered {
      justify-content: center;
    }
    &.has-content-right {
        display: flex;
        justify-content: flex-end;
    }


    & .column {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;

        &.is-one-third {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }

        &.is-two-thirds {
            flex: 0 0 66.6666%;
            max-width: 66.6666%;
        }

        &.is-one-fourth {
            flex: 0 0 25%;
            max-width: 25%;
        }

        &.is-three-fourths {
            flex: 0 0 75%;
            max-width: 75%;
        }

        &.is-half {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &.is-one {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }

        &.is-two {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }

        &.is-three {
            flex: 0 0 25%;
            max-width: 25%;
        }

        &.is-four {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        &.is-five {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }

        &.is-six {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &.is-seven {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }

        &.is-eight {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }

        &.is-nine {
            flex: 0 0 75%;
            max-width: 75%;
        }

        &.is-ten {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }

        &.is-eleven {
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
        }

        &.is-twelve {
            flex: 0 0 100%;
            max-width: 100%;
        }
        
        /********************************
        *
        *   Grid: Columns represented as numbers for the specials tool
        *
        ********************************/


        &.is-1 {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }

        &.is-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }

        &.is-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        &.is-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        &.is-5 {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }

        &.is-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &.is-7 {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }

        &.is-8 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }

        &.is-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        &.is-10 {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }

        &.is-11 {
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
        }

        &.is-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &.is-offset-one {
            margin-left: 8.333333%;
        }

        &.is-offset-two {
            margin-left: 16.66667%;
        }

        &.is-offset-three {
            margin-left: 25%;
        }

        &.is-offset-four {
            margin-left: 33.333333%;
        }

        &.is-offset-five {
            margin-left: 41.666667%;
        }

        &.is-offset-six {
            margin-left: 50%;
        }

        &.is-offset-seven {
            margin-left: 58.333333%;
        }

        &.is-offset-eight {
            margin-left: 66.666667%;
        }

        &.is-offset-nine {
            margin-left: 75%;
        }

        &.is-offset-ten {
            margin-left: 83.333333%;
        }

        &.is-offset-eleven {
            margin-left: 91.666667%;
        }

        & .is-full-height {
            height: 100%;
            width: 100%;
        }
        
        &.no-padding-right {
            padding-right: 0;
        }

        &.no-padding-left {
            padding-left: 0;
        }

    }

    .is-one,
    .is-two,
    .is-three,
    .is-four,
    .is-five,
    .is-six,
    .is-seven,
    .is-eight,
    .is-nine,
    .is-ten,
    .is-eleven,
    .is-twelve,
    .column {
        position: relative;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }


    & .column {

        &.is-nesting {
            padding: 0;
        }

    }

}


@include mobile {
    section {

        &:not(.is-mobile) {
            .column {
                flex: 0 0 100%;
                max-width: 100%;
                margin: 0 0 10px 0;

            &.is-one,
            &.is-two,
            &.is-three,
            &.is-four,
            &.is-five,
            &.is-six,
            &.is-seven,
            &.is-eight,
            &.is-nine,
            &.is-ten,
            &.is-eleven,
            &.is-twelve {
                position: relative;
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }


                /*&[class*="is-"] {
                    flex: 0 0 100%;
                }*/

            }
        }
    }
}