@media screen and (max-width: 768px)  {
    #ca-container {
        padding: 0 20px;
    }

    section {
        margin: 0 !important;

        & .column {
            flex: 1 1 100%;
            padding: 0;
            margin: 5px 0;


            &.order-one {
                order: 1;
            }

            &.order-two {
                order: 2;
            }

            &.order-three {
                order: 3;
            }
        }

        &.two {
            & .column {
                flex: 1 1 0;
            }
        }

    }


}
