$grey-100: #F7FAFC;
$grey-200: #EDF2F7;
$grey-300: #E2E8F0;
$grey-400: #CBD5E0;
$grey-700: #4A5568;
$blue-100: #EBF8FF;
$blue-200: #BEE3F8;
$blue-300: #90CDF4;
$blue-400: #63B3ED;

$outline: #d2d4d9;

$default: $blue-400;
$white: #FFFFFF;
$black: #000000;
$grey: #d3d3d3;
$dark-grey: darken($grey, 90%);
$light-grey: lighten($grey, 10%);
$warning: #d0060e;
$dev: #e82e47;
$dev-2: #333434;
$pink: #f9e5e9;


// Manufacturer Colors
$acura: #e82c2a;
$audi: #cd1f35;
$buick: #c9480c;
$bmw: #1c69d4;
$cadillac: #9e1834;
$chevy: #f1b923;
$chrysler: #063e77;
$dodge: #d50000;
$fiat: #b11636;
$ford: #2D96CD;
$honda: #2086c1;
$hyundai: #002D73;
$infiniti: #201d26;
$jeep: #ffba00;
$kia: #c4172c;
$lexus: #1a1a1a;
$lincoln: #231F1F;
$maserati: #0b2749;
$mazda: #101010;
$mini: #ac2430;
$mercedes: #222222;
$mitsubishi: #ff0022;
$nissan: #c3002f;
$ram: #880d00;
$subaru: #20609F;
$toyota: #d71921;
$volvo: #003057;
$vw: #00B1EB;


// Hover States
$defaultdarken: darken($default, 15%);

$acuradarken: darken($acura, 15%);
$audidarken: darken($audi, 15%);
$bmwdarken: darken($bmw, 15%);
$chevydarken: darken($chevy, 15%);
$chryslerdarken: darken($chrysler, 15%);
$dodgedarken: darken($dodge, 15%);
$forddarken: darken($ford, 15%);
$hondadarken: darken($honda, 15%);
$hyundaidarken: darken($hyundai, 15%);
$infinitidarken: darken($infiniti, 15%);
$jeepdarken: darken($jeep, 15%);
$kiadarken: darken($kia, 15%);
$lexusdarken: darken($lexus, 15%);
$lincolndarken: darken($lincoln, 15%);
$maseratidarken: darken($maserati, 15%);
$mazdadarken: darken($mazda, 15%);
$mercedesdarken: darken($mercedes, 15%);
$mitsubishidarken: darken($mitsubishi, 15%);
$nissandarken: darken($nissan, 15%);
$ramdarken: darken($ram, 15%);
$subarudarken: darken($subaru, 15%);
$toyotadarken: darken($toyota, 15%);
$volvodarken: darken($volvo, 15%);
$vwdarken: darken($vw, 15%);

// Map Variables
$manufacturers: (acura: $acura,
    audi: $audi,
    buick: $buick,
    bmw: $bmw,
    cadillac: $cadillac,
    chevy: $chevy,
    chrysler: $chrysler,
    dodge: $dodge,
    fiat: $fiat,
    ford: $ford,
    honda: $honda,
    hyundai: $hyundai,
    infiniti: $infiniti,
    jeep: $jeep,
    kia: $kia,
    lexus: $lexus,
    lincoln: $lincoln,
    maserati: $maserati,
    mazda: $mazda,
    mini: $mini,
    mercedes: $mercedes,
    mitsubishi: $mitsubishi,
    nissan: $nissan,
    ram: $ram,
    subaru: $subaru,
    toyota: $toyota,
    volvo: $volvo,
    vw: $vw,
    black: $black,
    white: $white,
    default: $default
    );

$headers: (acura: e82c2a,
    audi: cd1f35,
    buick: f26518,
    bmw: 1c69d4,
    cadillac: 9e1834,
    chevy: f1b923,
    chrysler: 063e77,
    dodge: d50000,
    fiat: b11636,
    ford: 2D96CD,
    honda: 2086c1,
    hyundai: 002D73,
    infiniti: 201d26,
    jeep: ffba00,
    kia: c4172c,
    lexus: 1a1a1a,
    lincoln: 231F1F,
    maserati: 0b2749,
    mazda: df0000,
    mini: ac2430,
    mercedes: 222222,
    mitsubishi: ff0022,
    nissan: c3002f,
    ram: 880d00,
    subaru: 20609F,
    toyota: d71921,
    volvo: 003057,
    vw: 00B1EB,

);


$elements: (h1: h1,
    h2: h2,
    h3: h3,
    h4: h4,
    h5: h5,
    p: p,
    span: span,
    li: li,
    a: a,
    div: div);

$text-elements: (
    h1: h1,
    h2: h2,
    h3: h3,
    h4: h4,
    h5: h5,
    p: p,
    span: span,
    li: li,
    a: a,
    );

$text-alignment: (left: left,
    center: center,
    right: right);

$font-sizes:  (
    8: 0.5rem,
    7: 0.75rem,
    6: 1rem,
    5: 1.5rem,
    4: 1.8rem,
    3: 2rem,
    2: 2.5rem,
    1: 3.0rem,
);

$gap: 10px;


$text-medium: 14px;

$mobile: 39.9375em;
$tablet: 40em;
$desktop: 64em;

$columns: 12;

$sizes: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;
