#ca-container {
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;

    &.has-padding {
        padding: 10px;
    }

    @import "cdl/variables";
    //@import "mixins";
    //@import "base";
    //@import "grid";
    //@import "buttons";
    //@import "iframes";
    //@import "forms";


}


