@import "https://www.theautohost.com/_assets/coding/cagriddle/css/cagriddle.min.css";





.ca-container {
    box-sizing: border-box;
    //max-width: 1140px;
    margin: 0 auto;
    padding: 0 0;

    &.is-small {
        margin: 0 auto;
        max-width: 1400px;
    }

    &.no-padding {
        padding: 0;
    }

    &.has-font {
    font-family: Helvetica,
    Arial,
    sans-serif;
    }

    @import "variables";
    @import "mixins";
    //@import "base";
    @import "grid";
    @import "helpers";
    @import "buttons";
    //@import "iframes";
    @import "forms";  
    @import "tables";  
    @import "cards";  


    &.is-mobile {
        margin: 0 auto;
        width: 500px;
    }

    &.is-tablet {
        margin: 0 auto;
        max-width: $tablet;
    }

    &.is-desktop {
        margin: 0 auto;
        max-width: $desktop;
    }

    &.has-padding {
        padding: 10px;
    }


}
 