#ca-container {
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;

    @import "cdl/variables";
    @import "cdl/mixins";
    //@import "base";
    @import "cdl/grid";
    //@import "buttons";
    //@import "iframes";
    @import "cdl/forms";  


    &.is-mobile {
        margin: 0 auto;
        width: 500px;
    }

    &.is-tablet {
        margin: 0 auto;
        max-width: $tablet-width;
    }

    &.is-desktop {
        margin: 0 auto;
        max-width: $desktop-width;
    }

    &.has-padding {
        padding: 10px;
    }


}
 