@import "variables";

body {
    position: relative;
    padding: 0;
    margin: 0;
}

#app {
    font-family: Helvetica;
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar content";
    grid-template-columns: 1fr 4fr;
}

#header {
    grid-area: header;
    background: $grey-400;

    & ul {
        list-style: none;

        & li {
            padding: 0 10px;
            display: inline-block;

            & a {
               text-decoration: none;
               color: $white; 
            }

        }
    }
}


// sidebar
#sidebar {
    grid-area: sidebar;
    background: $pink;

    & ul {
        padding: 0;
        background: $blue-400;
        border-left: none;
        list-style: none;

        & li {

            & a {
                padding: 10px 0;
                display: block;
                text-decoration: none;
            }

        }

    }
}
// sidebar


// content
#content {
    grid-area: content;


    & .presentation {
        & p {
            color: $white;
            text-transform: capitalize;
            padding: 10px;
        }
    }

    & .feature {
        padding: 1rem;
        background: $dev;
        text-align: center;
    
        &::before {
            content: 'Column';
            color: $white;
        }
    }


    & .auto {
        padding: 1rem;
        background: $dev-2;
        text-align: center;
    
        &::before {
            content: 'Auto Column';
            color: $white;
        }
    }

    h1 {
        padding: 0 0 10px 0;
        border-bottom: 1px solid $grey-200;
    }

    pre {
        overflow-x: auto;
        padding: 1.25em;
        border: 1px solid #e6e6e6;
        border-left-width: 5px;
        margin: 1.6em 0;
        font-size: .875em;
        background: #fcfcfc;
        white-space: pre;
        color: $dev;
        font-size: $text-medium;
    }

    ul {
        padding: 0 0 0 15px;
        border-left: 5px solid $dev;

        & li {
            list-style: none;
            padding: 5px 0;
        }
    }



}
// content











//testing

