@import "variables";



* {
    padding: 0;
    margin: 0;
}


body {
    //box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

#app {
    padding: 80px 0 0 0;
    font-family: Helvetica;
    display: flex;
}

#header {
    position: fixed;
    width: 100%;
    background: $default;
    z-index: 9;
    padding: 20px 0;

    & ul {
        font-family: Helvetica, Arial, sans-serif;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0 60px;

        & li {

            & a {
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 3px;
                text-decoration: none;
                color: $white; 
            }

        }
    }
}




// content
#content {
    flex: 1 0 100%;

    & p {
        padding: 10px 0;
    }

    & .presentation {
        & p {
            color: $white;
            text-transform: capitalize;
            padding: 10px;
        }
    }

    & .feature {
        padding: 1rem;
        background: $dev;
        text-align: center;
    
        &::before {
            content: 'Column';
            color: $white;
        }
    }


    & .auto {
        padding: 1rem;
        background: $dev-2;
        text-align: center;
    
        &::before {
            content: 'Auto Column';
            color: $white;
        }
    }

    h1 {
        padding: 0 0 10px 0;
        border-bottom: 1px solid $grey-200;
    }

    h3 {
        padding: 20px 0;
        //border-bottom: 1px solid $grey-200;
    }

    pre {
        overflow-x: auto;
        padding: 1.25em;
        border: 1px solid #e6e6e6;
        border-left-width: 5px;
        margin: 1.6em 0;
        font-size: .875em;
        background: #fcfcfc;
        white-space: pre;
        color: $dev;
        font-size: $text-medium;
    }

    ul {
        padding: 0 0 0 15px;
        border-left: 5px solid $dev;

        & li {
            list-style: none;
            padding: 5px 0;
        }
    }



}
// content











//testing

