@import "cdl/variables";

body {
    position: relative;
    padding: 0;
    margin: 0;
}

.is-dev {
    background: $warning;
}
.small {
}

.medium {
    float: right;
    width: 90% !important;
}

.is-demo {
    background: $grey-200;
    padding: 10px 10px;
    border-radius: 4px;
    text-align: center;

    & span {
        background: $grey-400;
        color: $grey-700;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 4px;
    }

    &.is-bold {
        color: $white;
        background: $blue-200;

        & span {
            background: $blue-400;
            color: $white;
            padding: 5px 10px; 
            font-weight: bold;
            border-radius: 4px;
        }
    }
}


pre {
    overflow-x: auto;
    padding: 1.25em;
    border: 1px solid #e6e6e6;
    border-left-width: 5px;
    margin:1.6em 0;
    font-size: .875em;
    background: #fcfcfc;
    white-space: pre;
    color: $blue-400;
    font-size: $text-medium;
}